

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --cor01:#2C3639;
    --cor02:#A27B5C ;
    --cor03:#DCD7C9;
    --cor-hover:rgb(25, 25, 25);
    --fonte01:"Krona One", sans-serif;
    --fonte02:"Montserrat", sans-serif;


    }
    


*{
margin: 0%;
padding: 0%;

}




body{
    background-color:var(--cor01);
    color: white;
  height: 100vh;


}

.cabecalho{

display: flex;
padding-top: 3%;
padding-left: 5%;
gap: 80px;


}



.cabecalho__menu__link{
text-decoration: none;
font-weight: 600;
font-family: var(--fonte02);
font-size: 24px;
color: var(--cor02);  

    
}

.cabecalho__menu__link__sobre-mim{
font-family: var(--fonte02);
font-size: 24px;
text-decoration: none;
font-weight: 600;
color: var(--cor02);


}



.apresentacao{
padding: 8%;
display: flex;
align-items: center;

justify-content: space-between;





}

.apresentacao__conteudo{
display: flex;
flex-direction:column;
gap: 40px;



}

.apresentacao__conteudo__titulo{
font-family: var(--fonte01);
font-weight: normal;
color: var(--cor02);



}

.apresentacao__conteudo__texto{
width: 400px;
color: var(--cor03);
font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.foto{

border-radius: 15px;
box-shadow: 3px 3px 300px var(--cor02);

}


footer{
background-color: var(--cor02);
display: flex;
justify-content: center;
height: 50px;
align-items: center;
width: 100%;
font-family: var(--fonte01);
color: black;



}
