@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --cor01: #0D0F14; /* bg-primary */
  --cor02: #1A1D24; /* bg-secondary */
  --cor03: #14171C; /* card-bg */

  --cor04: #00E5FF; /* accent-blue */
  --cor05: #FF4D4D; /* accent-red */

  --cor06: #EAEAEA; /* text-primary */
  --cor07: #A0A4AB; /* text-secondary */

  --cor08: #2A2F3A; /* highlight */

  --fonte01:"Krona One", sans-serif;
  --fonte02:"Montserrat", sans-serif;
}

*{
  margin: 0%;
  padding: 0%;
}

/* ======================== */

body{
  background-color: var(--cor01);
  color: var(--cor06);
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ======================== */

.cabecalho{
  display: flex;
  padding-top:30px;
  width: 50%;
}

.cabecalho__menu{
  display: flex;
  justify-content: center;
  gap: 70px;
}

.cabecalho__menu__link{
  text-decoration: none;
  font-weight: 600;
  font-family: var(--fonte02);
  font-size: 24px;
  color: var(--cor04);
}

.cabecalho__menu__link__destaque{
  text-decoration: none;
  font-family: var(--fonte02);
  font-size:1.5rem;
  color: var(--cor05);
  font-weight: 600;
}

/* ======================== */

span{
  color: var(--cor04);
}

/* ======================== */

.apresentacao{
  padding-top:8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apresentacao__conteudo{
  display: flex;
  flex-direction:column;
  gap: 30px;
  align-items: center;
  margin-bottom: 5%;
}

.apresentacao__conteudo02{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.apresentacao__conteudo__titulo{
  font-family: var(--fonte01);
  font-weight: normal;
  color: var(--cor04);
}

.apresentacao__conteudo__texto{
  width:60%;
  color: var(--cor07);
  font-size:20px;
  font-family: var(--fonte02);
  text-align: justify;
  text-indent: 5%;
  line-height: 30px;
}

/* ======================== */

.apresentacao__conteudo02{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.titulo_projetos{
  font-family: var(--fonte01);
  color: var(--cor06);
  font-weight: normal;
}

.apresentacao_projetos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.imagem_projeto{
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 10px var(--cor05);
}

.projeto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

abbr{
  text-decoration: none;
}

/* ======================== */

.link_projeto{
  text-align: center;
  text-decoration: none;
  font-family: var(--fonte02);
  color: var(--cor04);
}

.link_projeto:hover{
  text-decoration: underline;
  cursor: pointer;
  color: var(--cor05);
}

.links{
  text-decoration:none;
  color: var(--cor04);
  font-weight:600;
  text-shadow:1px 1px 3px black;
}

.links:hover{
  text-decoration: underline;
  cursor: pointer;
}

.link__alura{
  text-decoration:none;
  color: var(--cor04);
  font-weight:600;
}

.link__alura:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* ======================== */

footer{
  background-color: var(--cor04);
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  width: 100%;
  font-family: var(--fonte01);
  color: black;
}