
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
padding: 0px;
margin: 0px;

}

:root{
    --cor01:#01080E;
      --cor02:#0a336168;
      --cor03:#D7F9FF;
      --cor04:#4A8B91;
      --cor05:#22d4fd;
      --cor06:#5d39df;
      --cor07:rgb(4, 237, 4);
      --cor08:rgb(255, 106, 0);
      --cor09:#FF6500;
      --cor10:#1E3E62;
      --cor11:#0B192C;
      --cor-hover:rgb(25, 25, 25);
      --fonte01:"Krona One", sans-serif;
      --fonte02:"Montserrat", sans-serif;
  }
  
body{
  background-image: url(/portifolio-alura/imagens/fundo_tech_gpt.png);
  background-position: center;
  background-size:cover;
  background-attachment:fixed;
  box-sizing: border-box;

}

.cabecalho{
display: flex;
width:auto ;
align-items: center;
padding-top: 5%;
padding-left: 5%;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.705),#0a336168,rgba(0, 0, 0, 0.705));
gap: 60px;

}

.cabecalho__menu__link{
text-decoration: none;
font-family: var(--fonte02);
font-size:1.5rem;
color:var(--cor04);
font-weight: 600;
}

span{
color: var(--cor05);

}

.apresentacao{
display: flex;
flex-direction: column;
padding: 5%;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.705),#0a336168,rgba(0, 0, 0, 0.705));

}
.apresentacao__informacoes__titulo{
  font-family: var(--fonte01);
  font-weight:normal;
  font-size: 20px;
  text-align: justify;
  color: var(--cor03);
  text-shadow:1px 1px 2px #22d4fd;
}

.apresentacao__informacoes{

display: flex;
align-items:top;
gap: 5%;
}

.apresentacao__link{
  color: var(--cor07);
  text-decoration: none;
}

.apresentacao__link:hover{
color: blue;

}

.apresentacao__informacoes__texto{
  color: white;
  font-family: var(--fonte02);
  font-weight:normal;
  font-size: 16px;
  color: var(--cor03);
  margin-bottom: 10%;
  border: 1px solid var(--cor06);
  padding: 1.5rem;
  border-radius: 0px 0px 30px 0px;
  background-color:rgba(0, 0, 0, 0.829);
}
.apresentacao__informacoes__texto__destaque{
color: rgb(4, 237, 4);

}

.formacoes{
display: flex;
flex-direction: column;
align-items: center;
}

.formacao__titulo{
font-family: var(--fonte01);
color: var(--cor05);
font-weight: normal;
font-size: 35px;
padding: 3%;
margin-bottom: 10%;
text-align: center;
border-radius: 15px;
width:100% ;
}

.swiper{
width: 100%;

}

.swiper-pagination{
position: initial;
margin: 1% 0;
}
.swiper-pagination-bullet{
background: var(--cor08);
}


.titulo__swiper{  
background-image:linear-gradient(to right,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df);
font-family: var(--fonte02);
text-align: center;
font-size: 30px;
line-height: 20px;
margin-bottom: 5%;
border: 2px solid;
padding: 5%;
width: 20%;
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
border-image:linear-gradient(to left,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df) 1;
}

.swiper-slide{
padding: 5% 0 ;
}

.swiper-slide>img{
width:72%;

margin:0 -5% 0 15%;
box-shadow:-10px 10px 5px var(--cor05); 
/* border-image:linear-gradient(to bottom,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df) 1; */
}
.swiper-button-prev,.swiper-button-next{
color: transparent;
background-color: var(--cor07);
border-radius: 50%;
margin: 0.3% 0;
height: 40px;
width: 40px;
}
.swiper-button-prev{
background-color:var(--cor08) ;

background-image: url(../imagens/chevron_left_black_24dp\ 1.png);
background-position: center;
background-repeat: no-repeat;
}
.swiper-button-next{

  background-color:var(--cor06) ;

  background-image: url(../imagens/chevron_right_black_24dp\ 1.png);
  background-position: center;
  background-repeat: no-repeat;




}
.rodape{
  display: flex;
height:50px;
justify-content: center;
align-items: center;
width: auto;
font-family: var(--fonte01);
font-size: 1rem;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.705),#0a336168,rgba(0, 0, 0, 0.705));
color: var(--cor05);


}



/*-------------------------------------------------------------------------------------------*/
@media (max-width:1024px) {
.titulo__swiper{

font-size:22px ;
}


.swiper-slide{
margin:0 -3% 0 2.5%;


}

.swiper-slide>img{
width: 70%;

box-shadow:-8px 8px 5px var(--cor05); 

}

.swiper-button-prev,.swiper-button-next{
  background-position: center;
  height: 32px;
  width: 32px;
  }
}


/*-------------------------------------------------------------------------------------------*/

@media screen and (max-width:820px){


  .formacao__titulo{
  font-size: 24px;
  
  
  }

  .titulo__swiper{
    width: 35%;
    font-size:25px ;
    }
    
    .swiper{
      width: 100%;
    
    }


  .swiper-slide>img{
    width: 72%;
    
margin:0 -1% 0 11%;
  }
}

/*-------------------------------------------------------------------------------------------*/

@media screen and (max-width:450px){

  .cabecalho__menu__link{
  font-size: 21px;
  }
  .cabecalho{
  gap: 30px;
  
  
  }
  .cabecalho__menu{
  
  padding-top: 5%;
  }
  
  .apresentacao{
  padding-top: 5%;
  
  }

  .apresentacao__informacoes__titulo{
  
  font-size: 20px;
  
  }

  .apresentacao__informacoes__texto{
  font-size: 14px;
  
  }



  .formacao__titulo{
    font-size: 24px;
    margin: 20% 0;
    
    }
    .titulo__swiper{
      width:35% ;
      font-size:17px ;
      }

      .swiper-pagination{
      margin-bottom: 8%;
      
      }
      .swiper-button-prev,.swiper-button-next{
       
        }
        .swiper-slide>img{
          width: 60%;
          margin:0 0 0 20%;
        }
  
}
@media screen and (max-width:320px){
  .cabecalho{
    gap: 17px;
    
    
    }
    .cabecalho__menu__link{
      font-size: 19px;
      }
}
