
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

*{
padding: 0px;
margin: 0px;

}

:root{
    --cor01:#01080E;
      --cor02:#0a336168;
      --cor03:#D7F9FF;
      --cor04:#4A8B91;
      --cor05:#22d4fd;
      --cor06:#5d39df;
      --cor07:rgb(4, 237, 4);
      --cor08:rgb(255, 106, 0);
      --cor09:#FF6500;
      --cor10:#1E3E62;
      --cor11:#0B192C;
      --cor-hover:rgb(25, 25, 25);
      --fonte01:"Krona One", sans-serif;
      --fonte02:"Montserrat", sans-serif;
      --fonte03:"Science Gothic",sans-serif;
}


body{
  background-image: url(/portifolio-alura/imagens/fundo_tech_gpt.png);
  background-position: center;
  background-size:cover;
  background-attachment:fixed;
  box-sizing: border-box;

}

.cabecalho{
display: flex;
width:auto ;
align-items:center;
padding-top:30px;
padding-left:30px;
padding-bottom: 20px;
background-color: rgba(0, 0, 0, 0.685);
gap: 70px;

}

.cabecalho__menu__link{
text-decoration: none;
font-family: var(--fonte02);
font-size:1.5rem;
color:var(--cor04);
font-weight: 600;
text-shadow:3px 2px 3px black;
}

.cabecalho__menu__link__destaque{
text-decoration: none;
font-family: var(--fonte02);
font-size:1.5rem;
color:var(--cor04);
font-weight: 600;
}

span{
color: var(--cor05);
}

.apresentacao{
display: flex;
flex-direction: column;
padding: 5%;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.705),#0a336168,rgba(0, 0, 0, 0.705));

}
.apresentacao__informacoes__titulo{
  font-family: var(--fonte01);
  font-weight:normal;
  font-size: 20px;
  text-align: justify;
  color: var(--cor07);
  text-shadow:3px 2px 3px black;
  
}

.apresentacao__informacoes{
text-align: justify;
display: flex;
align-items:top;
flex-direction: row-reverse;
gap: 10%;
}

.apresentacao__link{
  color: var(--cor07);
  text-decoration: none;
}

.apresentacao__link:hover{
color: blue;

}

.apresentacao__informacoes__texto{
  color: white;
  font-family: var(--fonte02);
  font-weight:normal;
  font-size: 16px;
  color: var(--cor03);
  margin-bottom: 10%;
  border: 1px solid var(--cor06);
  padding: 1.5rem;
  border-radius: 0px 0px 30px 0px;
  background-color:rgba(0, 0, 0, 0.829);
}
.apresentacao__informacoes__texto__destaque{
color: rgb(4, 237, 4);
font-family: var(--fonte03);

}

.formacoes{
 display: flex;
flex-direction:row;
align-items: center;
}

.formacao__titulo{
font-family: var(--fonte01);
color: var(--cor05);
font-weight: normal;
font-size: 25px;
margin-bottom: 100px;
text-align:start;
text-shadow:3px 2px 3px black;
}
.formacao__front-end{

  background-image: url(/portifolio-alura/imagens/67278.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;

}

.formacao__front-end__titulo{  
background-image:linear-gradient(to right,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df);
font-family: var(--fonte02);
text-align: center;
font-size: 30px;
line-height: 20px;
margin-bottom: 5%;
border: 2px solid;
padding: 1%;
width: 15%;
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
border-image:linear-gradient(to left,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df) 1;
}

.formacao__back-end__titulo{  
background-image:linear-gradient(to right,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df);
font-family: var(--fonte02);
text-align: center;
font-size: 30px;
line-height: 20px;
margin-bottom: 5%;
border: 2px solid;
padding: 1%;
width: 15%;
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
border-image:linear-gradient(to left,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df) 1;
}



.rodape{
  display: flex;
height:50px;
justify-content: center;
align-items: center;
width: auto;
font-family: var(--fonte01);
font-size: 1rem;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.705),#0a336168,rgba(0, 0, 0, 0.705));
color: var(--cor05);

}

/*-------------------------------------------------------------------------------------------*/
@media (max-width:1024px) {
.titulo__swiper{

font-size:22px ;
}


.swiper-slide{
margin:0 -3% 0 2.5%;


}

.swiper-slide>img{
width: 70%;

box-shadow:-8px 8px 5px var(--cor05); 

}

.swiper-button-prev,.swiper-button-next{
  background-position: center;
  height: 32px;
  width: 32px;
  }
}


/*-------------------------------------------------------------------------------------------*/

@media screen and (max-width:820px){


  .formacao__titulo{
  font-size: 24px;
  
  
  }

  .titulo__swiper{
    width: 35%;
    font-size:25px ;
    }
    
    .swiper{
      width: 100%;
    
    }


  .swiper-slide>img{
    width: 72%;
    
margin:0 -1% 0 11%;
  }
}

/*-------------------------------------------------------------------------------------------*/

@media screen and (max-width:450px){

  .cabecalho__menu__link{
  font-size: 21px;
  }
  .cabecalho{
  gap: 30px;
  
  
  }
  .cabecalho__menu{
  
  padding-top: 5%;
  }
  
  .apresentacao{
  padding-top: 5%;
  
  }

  .apresentacao__informacoes__titulo{
  
  font-size: 20px;
  
  }

  .apresentacao__informacoes__texto{
  font-size: 14px;
  
  }



  .formacao__titulo{
    font-size: 24px;
    margin: 20% 0;
    
    }
    .titulo__swiper{
      width:35% ;
      font-size:17px ;
      }

      .swiper-pagination{
      margin-bottom: 8%;
      
      }
      .swiper-button-prev,.swiper-button-next{
       
        }
        .swiper-slide>img{
          width: 60%;
          margin:0 0 0 20%;
        }
  
}
@media screen and (max-width:320px){
  .cabecalho{
    gap: 17px;
    
    
    }
    .cabecalho__menu__link{
      font-size: 19px;
      }
}
