
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

*{
padding: 0px;
margin: 0px;

}

:root{
    --cor01:#01080E;
      --cor02:#0a336168;
      --cor03:#D7F9FF;
      --cor04:#4A8B91;
      --cor05:#22d4fd;
      --cor06:#5d39df;
      --cor07:rgb(4, 237, 4);
      --cor08:rgb(255, 106, 0);
      --cor09:#FF6500;
      --cor10:#1E3E62;
      --cor11:#0B192C;
      --cor-hover:rgb(25, 25, 25);
      --fonte01:"Krona One", sans-serif;
      --fonte02:"Montserrat", sans-serif;
      --fonte03:"Science Gothic",sans-serif;
}


body{
  background-image: url(/imagens/fundo_tech_gpt.png);
  background-position: center;
  background-size:cover;
  background-attachment:fixed;
  box-sizing: border-box;

}

.cabecalho{
display: flex;
width:auto ;
align-items:center;
padding-top:30px;
padding-left:30px;
padding-bottom: 20px;
background-color: rgba(0, 0, 0, 0.685);
gap: 70px;

}

.cabecalho__menu__link{
text-decoration: none;
font-family: var(--fonte02);
font-size:1.5rem;
color:var(--cor04);
font-weight: 600;
text-shadow:3px 2px 3px black;
}

.cabecalho__menu__link__destaque{
text-decoration: none;
font-family: var(--fonte02);
font-size:1.5rem;
color:var(--cor04);
font-weight: 600;
}

span{
color: var(--cor05);
}

.apresentacao{
display: flex;
flex-direction: column;
padding: 5%;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.705),#0a336168,rgba(0, 0, 0, 0.705));

}
.apresentacao__informacoes__titulo{
  font-family: var(--fonte01);
  font-weight:normal;
  font-size: 20px;
  text-align: justify;
  color: var(--cor07);
  text-shadow:3px 2px 3px black;
  
}

.apresentacao__informacoes{
text-align: justify;
display: flex;
align-items:top;
flex-direction: row-reverse;
gap: 10%;
}

.apresentacao__link{
  color: var(--cor07);
  text-decoration: none;
}

.apresentacao__link:hover{
color: blue;

}

.apresentacao__informacoes__texto{
  color: white;
  font-family: var(--fonte02);
  font-weight:normal;
  font-size: 16px;
  color: var(--cor03);
  margin-bottom: 10%;
  border: 1px solid var(--cor06);
  padding: 1.5rem;
  border-radius: 0px 0px 30px 0px;
  background-color:rgba(0, 0, 0, 0.829);
}
.apresentacao__informacoes__texto__destaque{
color: rgb(4, 237, 4);
font-family: var(--fonte03);

}

.formacoes{
 display: flex;
flex-direction:row;
align-items: center;
gap: 50px;
}

.formacao__titulo{
font-family: var(--fonte01);
color: var(--cor05);
font-weight: normal;
font-size: 25px;
margin-bottom: 100px;
text-align:start;
text-shadow:3px 2px 3px black;
}
.formacao__front-end{
width: 400px;
height: 400px;
border: 1px solid transparent;
border-image:linear-gradient(to right,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df)1;
display: flex;
flex-direction: column;
align-items: center;

}

.formacao__front-end__titulo{  
font-family: var(--fonte02);
text-align: center;
font-size: 30px;
padding: 1%;
width: auto;
 background: linear-gradient(to left,rgb(255, 106, 0),rgb(255, 106, 0),#5d39df,#5d39df);
 -webkit-background-clip:text;
color: transparent;
padding:20px 0px;

}

.formacao__links{
  text-decoration: none;
  font-family: var(--fonte03);
  font-weight: normal;
  line-height: 5px;
  color: white;
}

.formacao__lista{
margin-left: 25px;
list-style:disc;
color: greenyellow;

}

.formacao__back-end{
width: 400px;
height: 400px;
border: 1px solid transparent;
border-image:linear-gradient(to right, #055BA6,#0A6AA6,#F2BC1B,#F2AB27)1;
display: flex;
flex-direction: column;
align-items: center;
background-image: url(/imagens/back_python.jpg);
background-size:cover;

}

.formacao__back-end__titulo{  
 font-family: var(--fonte02);
text-align: center;
font-size: 30px; 
padding: 20px 0px;
background: linear-gradient(to left, #055BA6,#0A6AA6,#F2BC1B,#F2AB27);
-webkit-background-clip: text;
color: transparent;
}



.rodape{
  display: flex;
height:50px;
justify-content: center;
align-items: center;
width: auto;
font-family: var(--fonte01);
font-size: 1rem;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.705),#0a336168,rgba(0, 0, 0, 0.705));
color: var(--cor05);

}
/* ================================================= */
/* RESET */
/* ================================================= */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================================================= */
/* MOBILE FIRST (Base - celulares) */
/* ================================================= */

/* Títulos */
.formacao__titulo{
  font-size: clamp(1.2rem, 4vw, 2rem);
}

.titulo__swiper{
  width: 80%;
  font-size: clamp(1rem, 4vw, 1.6rem);
}

/* Swiper */
.swiper{
  width: 100%;
}

.swiper-slide > img{
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

/* Cabeçalho */
.cabecalho{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cabecalho__menu{
  padding-top: 5%;
}

.cabecalho__menu__link{
  font-size: clamp(0.9rem, 3.5vw, 1.3rem);
}

/* Apresentação */
.apresentacao{
  padding-top: 5%;
}

.apresentacao__informacoes__titulo{
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.apresentacao__informacoes__texto{
  font-size: clamp(0.8rem, 3vw, 1rem);
}


/* ================================================= */
/* TABLET (768px+) */
/* ================================================= */

@media (min-width: 768px){

  .titulo__swiper{
    width: 60%;
  }

  .swiper-slide > img{
    width: 80%;
  }

  .cabecalho{
    gap: 2rem;
  }

}


/* ================================================= */
/* DESKTOP (1024px+) */
/* ================================================= */

@media (min-width: 1024px){

  .titulo__swiper{
    width: 40%;
  }

  .swiper-slide > img{
    width: 60%;
  }

  .cabecalho__menu__link{
    font-size: 1.2rem;
  }

}


/* ================================================= */
/* TELAS GRANDES (1440px+) */
/* ================================================= */

@media (min-width: 1440px){

  .swiper-slide > img{
    width: 50%;
  }

}