/* ================================================= */
/* IMPORTS */
/* ================================================= */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

/* ================================================= */
/* RESET */
/* ================================================= */

*{
    padding: 0px;
    margin: 0px;
}

/* ================================================= */
/* VARIÁVEIS */
/* ================================================= */

:root{
    --cor01:#01080E;
    --cor02:#0a336168;
    --cor03:#D7F9FF;
    --cor04:#4A8B91;
    --cor05:#22d4fd;
    --cor06:#5d39df;
    --cor07:rgb(4, 237, 4);
    --cor08:rgb(255, 106, 0);
    --cor09:#FF6500;
    --cor10:#1E3E62;
    --cor11:#0B192C;
    --cor-hover:rgb(25, 25, 25);

    --fonte01:"Krona One", sans-serif;
    --fonte02:"Montserrat", sans-serif;
    --fonte03:"Science Gothic",sans-serif;
}

/* ================================================= */
/* BASE */
/* ================================================= */

body{
    background-image: url(/portifolio-alura/imagens/background/fundo_tech_gpt.png);
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
    box-sizing: border-box;
}

span{
    color: var(--cor05);
}

/* ================================================= */
/* CABEÇALHO */
/* ================================================= */

.cabecalho{
    display: flex;
    width:auto;
    justify-content: center;
    align-items:center;
    padding-top:30px;
   
    padding-bottom: 20px;
    gap: 70px;
    background-image:linear-gradient(
        to right,
        rgba(0, 0, 0, 0.705),
        #0a336168,
        rgba(0, 0, 0, 0.705));
}

.cabecalho_menu_link,
.cabecalho_menu_link_destaque{
    text-decoration: none;
    font-family: var(--fonte02);
    font-size:1.5rem;
    color:var(--cor04);
    font-weight: 600;
}

.cabecalho_menu_link{
    text-shadow:3px 4px 2px black;
}

/* ================================================= */
/* APRESENTAÇÃO */
/* ================================================= */

.apresentacao{
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-image:linear-gradient(
        to right,
        rgba(0, 0, 0, 0.705),
        #0a336168,
        rgba(0, 0, 0, 0.705)
    );
}

.apresentacao_informacoes{
    text-align: justify;
    display: flex;
    align-items:top;
    flex-direction: row-reverse;
    gap: 10%;
}

.apresentacao_informacoes_titulo{
    font-family: var(--fonte01);
    font-weight:normal;
    font-size: 20px;
    text-align: justify;
    color: #E0F7FA;
    text-shadow:3px 2px 3px black;
}

.apresentacao_informacoes_texto{
    color: var(--cor03);
    font-family: var(--fonte02);
    font-weight:normal;
    font-size: 16px;
    margin-bottom: 5%;
    border: 1px solid var(--cor06);
    padding: 1.5rem;
    border-radius: 0px 0px 30px 0px;
    background-color:rgba(0, 0, 0, 0.829);
}

.apresentacao_informacoes_texto_destaque{
    color: rgb(4, 237, 4);
    font-family: var(--fonte03);
}

.apresentacao_link{
    color: var(--cor07);
    text-decoration: none;
}

.apresentacao_link:hover{
    color: blue;
}

/* ================================================= */
/* FORMAÇÕES */
/* ================================================= */

.formacoes{
    display: flex;
    flex-direction:column;
}


.formacao_titulo{
    font-family: var(--fonte01);
    color: #E0F7FA;
    font-weight: normal;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom:10%;
    text-align:center;
    text-shadow:3px 2px 3px black;
}

.formacao_titulo_background{
    width: 14%;
    background-color: rgba(0, 0, 0, 0.884);
    border-radius: 15px;
    margin-top: 1%;
    margin-bottom: 4%;
    
}

/* FRONT-END */


.imagem_link_html{
width: 20%;
}

.imagem_link_python{
  width: 23%;

}

.formacao_front-end{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 500px;
    margin-left: -6%;
    margin-right: -6%;
    border: 1px solid transparent;
    border-image:linear-gradient(
        to right,
        rgb(255, 106, 0),
        rgb(255, 106, 0),
        #5d39df,
        #5d39df
    )1;
    background-image: url(/portifolio-alura/imagens/background/html_css_gpt01.png);
    background-size: contain;
    background-attachment: fixed;
    
}

.formacao_front-end_titulo{
    font-family: var(--fonte02);
    text-align: center;
    font-size: 30px;
    width: auto;
    background: linear-gradient(
        to left,
        rgb(255, 106, 0),
        rgb(255, 106, 0),
        #5d39df,
        #5d39df
    );
    -webkit-background-clip:text;
    color: transparent;
    padding:2px 0px;
    margin-bottom: 4%;
    margin-top: 2%;
}

/* BACK-END */

.formacao_back-end{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 350px;
    margin-left: -6%;
    margin-right: -6%;
    border: 1px solid transparent;
    border-image:linear-gradient(
        to right,
        #055BA6,
        #0A6AA6,
        #F2BC1B,
        #F2AB27
    )1;
    display: flex;
    flex-direction: column;
    background-image: url(/portifolio-alura/imagens/background/py_gpt02.png);
    background-size:contain;
  background-attachment: fixed;
    
}

.formacao_back-end_titulo{
    font-family: var(--fonte02);
    text-align: center;
    font-size: 30px;
    padding: 2px 0px;
    background: linear-gradient(
        to left,
        #055BA6,
        #0A6AA6,
        #F2BC1B,
        #F2AB27
    );
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 4%;
    margin-top: 2%;
}



/* LISTAS */

.formacao_lista_html{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-left: -2%;
    
}

.formacao_lista_python{
display: flex;
justify-content: center;
gap: 10%;

}
.formacao_lista_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 15px;
  width: 330px;
  height: 160px;

}

.formacao_links{
    display: flex;
    text-decoration: none;
    font-family: var(--fonte02);
   font-size: 14px;
   width: 70%;
    text-align: center;
    color: white;
    
}

.formacao_links:hover{
    color: var(--cor05);
}

/* ================================================= */
/* RODAPÉ */
/* ================================================= */

.rodape{
    display: flex;
    height:50px;
    justify-content: center;
    align-items: center;
    width: auto;
    font-family: var(--fonte01);
    font-size: 1rem;
    background-image:linear-gradient(
        to right,
        rgba(0, 0, 0, 0.705),
        #0a336168,
        rgba(0, 0, 0, 0.705)
    );
    color: var(--cor05);
}

/* ================================================= */
/* RESPONSIVIDADE */
/* ================================================= */

@media (min-width:375px){


}