@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0px;
padding: 0px;
}

:root{
  /* 🎨 PALETA ORGANIZADA */
  --bg-primary: #0D0F14;
  --bg-secondary: #1A1D24;
  --card-bg: #14171C;

  --accent-blue: #00E5FF;
  --accent-red: #FF4D4D;

  --text-primary: #EAEAEA;
  --text-secondary: #A0A4AB;

  --highlight: #2A2F3A;

  --fonte01:"Krona One", sans-serif;
  --fonte02:"Montserrat", sans-serif;
}

/* ======================== */

body{
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: var(--bg-primary);
color: var(--text-primary);
height: 100vh;
box-sizing: border-box;
}

/* ======================== */

.cabecalho{
display: flex;
padding-top:30px;

gap: 70px;
width: 50%;
}

.cabecalho__menu{
display:flex;
gap: 70px;
}

.cabecalho__menu__link{
font-family: var(--fonte02);
font-size: 1.5rem;
font-weight: 600;
color: var(--accent-blue);
text-decoration: none;
}

.cabecalho__menu__link__destaque{
text-decoration: none;
font-family: var(--fonte02);
font-size:1.5rem;
color: var(--accent-red);
font-weight: 600;
}

/* ======================== */

.apresentacao{
padding: 5% 15%;
display: flex;
align-items: center;
justify-content:space-between;
gap:82px ;
}

.apresentacao__conteudo{
width: 50%;
display: flex;
flex-direction: column;
gap: 40px;
}

.apresentacao__conteudo__titulo{
font-size:2rem;
font-family: var(--fonte01);
}

.apresentacao__conteudo__texto{
font-size: 1.5rem;
font-family: var(--fonte02);
color: var(--text-secondary);
}

strong{
color: var(--accent-blue);
}

span{
color: var(--text-primary);
}

/* ======================== */

.apresentacao__links{
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
}

.apresentacao__links__subtitulo{
font-family: var(--fonte02);
font-size: 24px;
text-align: center;
}

.apresentacao__links__navegacao{
text-decoration: none;
background-color: var(--card-bg);
width: 50%;
border-radius:8px;
padding: 6% 0;
font-family: var(--fonte02);
font-size: large;
font-weight: 600;
border: 2px solid var(--accent-blue);
color: var(--text-primary);
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
transition: 0.3s;
}

.apresentacao_link_logo{
  width: 15%;
}


/* 🔥 HOVER MELHORADO */
.apresentacao__links__navegacao:hover{
background-color: var(--highlight);
border-color: var(--accent-red);
cursor: pointer;
}

/* ======================== */

.apresentacao__imagem{
border-radius: 16px;
border: 3px solid var(--highlight);
width: 40%;
}

/* ======================== */

footer{
height: 50px;
width: 100%;
background-color: var(--accent-blue);
display: flex;
justify-content: center;
font-family: var(--fonte01);
padding-top: 24px;
color: black;
text-align: center;
}

.link-footer{
color: black;
text-decoration: none;
}

.link-footer:hover{
color: var(--bg-primary);
}