@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

:root{
  --cor01: #0D0F14;
  --cor02: #1A1D24;
  --cor03: #14171C;

  --cor04: #00E5FF;
  --cor05: #FF4D4D;

  --cor06: #EAEAEA;
  --cor07: #A0A4AB;

  --cor08: #2A2F3A;

  --fonte01:"Krona One", sans-serif;
  --fonte02:"Montserrat", sans-serif;
}

/* ======================== */

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor01);
  color: var(--cor06);
  height: 100vh;
  box-sizing: border-box;
}

/* ======================== */

.cabecalho{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:30px;
  gap: 70px;
  width: 50%;
}

.cabecalho_menu{
  display:flex;
  gap: 70px;
}

.cabecalho_menu_link{
  font-family: var(--fonte02);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor04);
  text-decoration: none;
}

.cabecalho_menu_link_destaque{
  text-decoration: none;
  font-family: var(--fonte02);
  font-size:1.5rem;
  color: var(--cor05);
  font-weight: 600;
}

/* ======================== */

.apresentacao{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:100px ;
}

.apresentacao_conteudo{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.apresentacao_conteudo_titulo{
  font-size:2rem;
  font-family: var(--fonte01);
  text-align: center;
}

.apresentacao_conteudo_texto{
  font-size: 1.5rem;
  font-family: var(--fonte02);
  color: var(--cor07);
  text-align: center;
}

strong{
  color: var(--cor04);
}

span{
  color: var(--cor06);
}

/* ======================== */

.apresentacao_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.apresentacao_links_subtitulo{
  font-family: var(--fonte02);
  font-size: 24px;
  text-align: center;
}

.apresentacao_links_navegacao{
  text-decoration: none;
  background-color: var(--cor03);
  width: 40%;
  border-radius:8px;
  padding: 6% 0;
  font-family: var(--fonte02);
  font-size: large;
  font-weight: 600;
  border: 2px solid var(--cor04);
  color: var(--cor06);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

.apresentacao_link_logo{
  width: 15%;
}

/* HOVER */
.apresentacao_links_navegacao:hover{
  background-color: var(--cor08);
  border-color: var(--cor05);
  cursor: pointer;
}

/* ======================== */

.apresentacao_imagem{
  border-radius: 16px;
  border: 3px solid var(--cor08);
  width: 20%;
}

/* ======================== */

footer{
  height: 50px;
  width: 100%;
  background-color: var(--cor04);
  display: flex;
  justify-content: center;
  font-family: var(--fonte01);
  padding-top: 24px;
  color: black;
  text-align: center;
}

.link-footer{
  color: black;
  text-decoration: none;
}

.link-footer:hover{
  color: var(--cor01);
}

/* ======================== */
/* RESPONSIVO */
/* ======================== */

@media (max-width: 2560px) {
.apresentacao_conteudo{
  height: 84vh;
  align-items: center;
  justify-content: center;
}
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
.apresentacao_conteudo{
  width: 50%;
  margin-top: 60px;
  height: 100vh;
}
.apresentacao_imagem{

  width: 25%;
}
}

@media (max-width: 768px) {

  .cabecalho_menu{
    gap: 25px;
  }
.cabecalho_menu_link,.cabecalho_menu_link_destaque{
  font-size: 22px;
}

.apresentacao{
  gap: 0px;
}
.apresentacao_conteudo{
  width: 60%;
  height: 100vh;
  margin-top: 20px;
}
.apresentacao_conteudo_titulo{
  font-size: 22px;
}
.apresentacao_conteudo_texto{

  font-size: 17px;

}.apresentacao_links_subtitulo{
  font-size: 17px;
}
.apresentacao_links_navegacao{
  width: 35%;
  font-size: 14px;
}
}

@media (max-width: 425px) {
.cabecalho_menu{
  
gap: 20px;
}

.cabecalho_menu_link{
  font-size: 20px;
 white-space: nowrap;
  }
.cabecalho_menu_link_destaque{
  font-size: 20px;
  }

.apresentacao{

  flex-direction: column-reverse;
}

.apresentacao_imagem{

  width: 30%;
}

.apresentacao_links_navegacao{
  width: 50%;
  font-size: 12px;
}
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {

.cabecalho_menu{
  gap: 40px;
  
}
.cabecalho_menu_link,.cabecalho_menu_link_destaque{
  font-size: 14px;

}

  .apresentacao_links_navegacao{
    font-size: 10px;
  }
}