@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0px;
padding: 0px;

}

:root{
  --cor01:#2C3639;
    --cor02:#A27B5C ;
    --cor03:#DCD7C9;
    --cor04:#3F4E4F;
    --cor-hover:rgb(25, 25, 25);
    --fonte01:"Krona One", sans-serif;
    --fonte02:"Montserrat", sans-serif;


}


body{

background-color: var(--cor01);
color: white;

/*height: 100vh;*/
box-sizing: border-box;
/*isso faz com que o hmtl ocupe todo o espaço da tela, e que nenhum item filho saia da div pai*/

}
.cabecalho{

display: flex;
padding-left: 8%;
padding-top: 3%;
gap: 80px;


}

.cabecalho__menu__link{
font-family: var(--fonte02);
font-size: 1.5rem;
font-weight: 600;
color: var(--cor02);
text-decoration: none;


}




.apresentacao{
  padding: 8%;
 display: flex;
 align-items: center;
justify-content:space-between;


}

.apresentacao__conteudo{
width: 50%;
display: flex;
flex-direction: column;
gap: 40px;

}

.apresentacao__conteudo__titulo{
font-size:2.5rem;
font-family: "Krona One", sans-serif ;
}

.apresentacao__conteudo__texto{
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: var(--cor03);


}




strong{
color: var(--cor02);

}

 span{
        color: var(--cor03);
      
       
}

.apresentacao__links{
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
gap: 40px;

}


.apresentacao__links__subtitulo{

font-family:"Montserrat", sans-serif;




}


.apresentacao__links__navegacao{

text-decoration: none;
background-color:var(--cor01);
width: 50%;
text-align: center;
border-radius: 8px;
padding: 25px 0px;
font-family:"Montserrat", sans-serif ;
font-size: large;
font-weight: 600;
border: 2px solid var(--cor02);
color:white;
display: flex;
justify-content: center;
gap: 20px;


}



.apresentacao__links__link:hover{

background-color: var(--cor04);
cursor: pointer;

}

.apresentacao__imagem{
  border-radius: 16px;
  border: 3px solid var(--cor04);
/*
box-shadow: 9px -9px 9px var(--cor02);*/
width: 50%;
}




footer{
  height: 50px;
  width: 100%;
  background-color:var(--cor02);
  display: flex;
  justify-content: center;
  font-family: var(--fonte01);
  padding-top: 24px;
  color: black;
  text-align: center;
  
} 
.link-footer{
color: black;
text-decoration: none;
}
    
.link-footer:hover{
color: var(--cor04) ;

}

